nav {
  padding: 1.5em;
  height: 100px;
  width: 100%;
  background-color: #4056a1;
  color: #FFFFFF;
  position: absolute;
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}
nav button {
  margin-left: 15px;
  border-radius: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: transparent;
  border: 1px solid white;
  color: #FFFFFF;
}
nav button:hover {
  background-color: #4f6cc5;
}
.button-area {
  display: flex;
  align-items: center;
}
nav span {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  line-height: 50px;
}
#arrow {
  position: absolute;
  right: 140px;
  color: crimson;
  animation: move-arrow 0.5s infinite;
  animation-direction: alternate;
}
@keyframes move-arrow {
  0%
  {
    transform: translateY(0px);
  }
  100%
  {
    transform: translateY(5px);
  }
}
#finger {
  color: red;
  animation: move-finger 0.5s infinite;
  animation-direction: alternate;
}
@keyframes move-finger {
  0%
  {
    transform: translateX(0px);
  }
  100%
  {
    transform: translateX(8px);
  }
}
