#main-nav {
  padding: 0 36px;
  height: 100px;
  width: 100%;
  background-color: #4056a1;
  color: #FFFFFF;
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-nav button {
  margin-left: 15px;
  border-radius: 30px;
  padding: 4px 20px;
  background-color: transparent;
  border: 1px solid white;
  color: #FFFFFF;
}
#main-nav button:hover {
  background-color: #4f6cc5;
}
#main-nav span {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  height: 40px;
}
#main-nav div {
  display: flex;
  align-items: center;
}
#main-nav i {
  color: red;
  animation: move 0.5s infinite;
  animation-direction: alternate;
}
@keyframes move {
  0%
  {
    transform: translateX(0px);
  }
  100%
  {
    transform: translateX(8px);
  }
}