nav {
  padding: 1.5em;
  height: 100px;
  width: 100%;
  background-color: #4056a1;
  color: #FFFFFF;
  position: absolute;
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}
nav p {
  margin: 1px;
}
nav div {
  text-align: center;
}
nav span {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  line-height: 50px;
}
#icon {
  color: crimson;
  animation: move 0.8s infinite;
  animation-direction: alternate;
}
@keyframes move {
  0%
  {
    transform: translateY(0px);
  }
  100%
  {
    transform: translateY(10px);
  }
}