#scroll-up-button {
  margin: 20px;
  border: 0px;
  border-radius: 50%;
  height: 3.5em;
  width: 3.5em;
  background-color: red;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}
#double-up-angle {
  font-size: 35px;
  color: white;
}